body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

h1 {
  color: #444;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #4caf50;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background: #45a049;
}

.home-buttons button {
  background: #007BFF;
}

.home-buttons button:hover {
  background: #0056b3;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container {
  padding: 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.cart-icon {
  position: relative;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  border-radius: 50%;
}
